USER=your_postgresql_username        # e.g. postgres
HOST=your_postgresql_host            # e.g. localhost
DATABASE=your_database_name          # e.g. pf_app
PASSWORD=your_postgresql_password    # your PG password
DB_PORT=5432                            # default PostgreSQL port

CLIENT_ORIGIN=http://localhost:5173

PORT=3000                            # your express server
JWT_SECRET=your_secret               # your JWT secret

ADMIN_USERNAME=your_admin_username
ADMIN_NAME=your_admin_name
ADMIN_EMAIL=your_admin_email
ADMIN_PASSWORD=your_secure_password